<p style="color: green"><%= notice %></p>

  <!-- View page that showed people database -->
  <!-- But this view is no longer accessible to users 
  to protect private health data of people in database -->

<h1>People</h1>

<div id="people">

  <% @people.each do |person| %>
    <%= render person %>
    <p>
      <%= link_to "Show this person", person %>
    </p>
  <% end %>
</div>

<%= link_to "New person", new_person_path %>

<%= link_to 'Home', "/" %>

