<p style="color: green"><%= notice %></p>

<h1>People</h1>

<div id="people">

  <!--<p>Here is your estimated risk of contracting Covid:</p>-->

  <!--<%= @search_result[0].risk %>-->

  <% @people.each do |person| %>
    <%= render person %>
    <p>
      <%= link_to "Show this person", person %>
    </p>
  <% end %>
</div>

<%= link_to "New person", new_person_path %>
