<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <h1>
    Search Form
  </h1>
</head>
<body>

    <!-- View for search form -->

<%= form_tag(@people) do %>

  <%= label_tag :first_name, "Your First Name:" %>
  <%= text_field_tag :first_name, nil, required:true %>

  <%= label_tag :last_name, "Your Last Name:" %>
  <%= text_field_tag :last_name, nil, required:true%>

  <%= label_tag :contact_name, "Contact First Name:" %>
  <%= text_field_tag :contact_first_name, nil, required:true %>

  <%= label_tag :contact_name, "Contact Last Name:" %>
  <%= text_field_tag :contact_last_name, nil, required:true%>

  <%= label_tag :contact_date, "Date of Contact:" %>
  <%= date_field_tag :contact_date, nil, required:true %>

  <%= label_tag :contact_password, "Password:" %>
  <%= text_field_tag :contact_password %>

  <% if flash[:error].present? %>
    <div class="error-message">
      <%= flash[:error] %>
    </div>
  <% end %>



  <p><p>

  <%= submit_tag "Search", class: 'my-button' %>
<% end %>

<%= link_to 'Home', "/" %>

</body>
</html>