<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <h1>
    Your Information
    </h1>
</head>
<body>

<p style="color: green"><%= notice %></p>

<%= render @person %>


<div class="button-container">
  <%= link_to "Edit this person", edit_person_path(@person), class: 'my-button edit-button' %> |
  <%= link_to "Destroy this person", @person, method: :delete, class: 'my-button destroy-button' %> |
  <%= link_to "Home", "/", class: 'my-button home-button' %>
</div>

<p></p>

</body>

</html>
